/* Variables */

$charcoal: #a4a09f;
$pearl: #f3f1f2;
$tangerine: #f65f3a;
$peach: rgba(247, 144, 113, 1);
$peach-transparent: rgba(247, 144, 113, .5);

$pink: #c5006e;
$light-pink: rgba(240, 175, 209, 1);
$t_pink: rgba(199, 0, 110, .5);


@mixin circle {
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 2px 2px 0 0 $peach;
	box-shadow: 2px 2px 0 0 $peach;

}

@mixin circle-mask {
	-webkit-mask-image: url("../img/circle.svg");
  -webkit-mask-size: 98%;
  -webkit-mask-repeat: no-repeat;
	
}

/* TYPEKIT CONTROL */

.wf-loading {
	visibility: hidden;
}

.wf-active  {
    visibility: visible;
}

/* END TYPEKIT CONTROL */

/* UTILITIES */

.f_right {
	
	float:right;
}

.f_left {
	
	float:left;
}

.hidden {
	
	display:none;
}

.outer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
}

.light {
	
	font-weight:300;
}

/* BASICS */

html {
	
	width:100%;
	
}

body {
	
	width:100%;
	font-family: "proxima-nova", Helvetica, sans-serif;
}

header {
	
	position:relative;
	width:100%;
	height:400px;
	background-image:url('../img/earth-from-space.jpg');
	background-position-y: -50px;
	background-size: cover;
	text-align: center;
	
}

header h1 {
	
	text-align: center;
	vertical-align: center;
	margin:auto 0;
	color:white;
}

header h5 {
	
	text-transform: uppercase;
	letter-spacing: 0.09em;
	font-size:2.05rem;
}

header p {
	
	color:white;
	text-align: center;
}

header a {
	
	text-decoration: none;
	color:white;
}


h1, h2 {
	
	font-family: "proxima-nova", Helvetica, sans-serif;
	font-weight: 800;
	letter-spacing: .01em;
	
}

a {
	
	color:$pink;
	font-weight:600;
}

a:active,
a:hover {
	
	border-bottom:3px solid white;
}

/* HEADERS */

#name-bar {
	
	background:$pearl;
	padding-top:20px;
	padding-bottom:3px;
	padding-left:40px;
	height:auto;
	overflow:auto;
}

#name-bar h1 a:hover {
	
	border:0; 
	
}

#name-bar a {
	
	color:$pink;
	font-weight:600;
	text-decoration: none;
	letter-spacing: .01em;
}

#name-bar a:hover {
	
	border-bottom:3px solid $pink;
}

#name-bar nav {
	
	padding-top:30px;
	padding-bottom:3px;
	padding-right:40px;
	vertical-align: baseline;
}

.main-nav {
	
	display:inline-block;
	padding-right:20px;
}

.main-nav:last-child {
	
	padding-right:0;
}

#global-container {
	
	width:80%;
	padding-right:20px;
	padding-left:20px;
	height:auto;
	overflow: auto;
	margin:0 auto;
	text-align: center;
	
}

/* HOMEPAGE */

.circle-bg {
	
	height:150px;
	width:150px;
	@include circle;
	background-color:$pearl;
	margin:0 auto;
	text-align: center;
	margin-bottom:30px;
}

#skills-list {
	
	height:auto;
	overflow:auto;
}

#skills-list li h3 {
	
	font-size:1.75em;
	font-weight:600;
	padding-top:60px;
	vertical-align: middle;
	color:white;
	
}

#skills-list-tag {
	
	border-left:10px solid $pink;
	border-right:10px solid $pink;
	padding:20px;
	text-align: center;
	font-size:1.25em;
	background-color:$t_pink;
}

article.row {
	
	margin:0 auto;
	text-align: left;
	padding-top:30px;
	padding-bottom:30px;
	width:90%;

}

article.row h2 {
	
	text-align: center;
}

article .columns:first-child {
	
	margin-left:0 !important;
}

.homepage-image {
	
	@include circle-mask;
	
}

.homepage-image img {
	
	width:100%;
	height:auto;
}
/* 400 and up */
@media screen and (min-width:400px) {

					

}

/* Retina Display */
@media screen and (-webkit-min-device-pixel-ratio:2) {

		/*retina*/
}