<!DOCTYPE html>   

<html lang="en">
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title><% if (this.title){ %> <%- title %> | <% } %> phiden jewelry | pretty, shiny things</title>

    <link href="css/style.css" rel="stylesheet">
    
    <!-- !Modernizr - All other JS at bottom -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	  
  </head>
  
  <body>
  
  <div class="expand"><a href="#" id="js-menu-toggle"></a></div>

  <div id="container">
	
  	<header>
  		
  		<img src='img/phiden_jewelry.svg'> shiny, pretty things
  		
  		<nav>
    		<li><a href=#>shop</a></li>
    		<li><a href='about'>about &amp; contact</a></li>
    		<li><a href=#>blog</a></li>
  		</nav>
  		
  	</header><!-- /header -->