@charset "UTF-8";
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #E1EEE7;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Goldenbook", Georgia, serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #b4beb9;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #E1EEE7; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select {
  display: block;
  font-family: "Goldenbook", Georgia, serif;
  font-size: 16px; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Goldenbook", Georgia, serif;
  font-size: 16px;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #E1EEE7;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(209, 229, 218, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: 600;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Goldenbook", Georgia, serif;
  font-size: 16px;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lush Script", Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 20px; }

p {
  margin: 0 0 0.75em; }

a {
  color: #E1EEE7;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #b44745; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.modal {
  display: inline-block; }
  .modal label {
    cursor: pointer;
    margin-bottom: 0; }
  .modal label img {
    border-radius: 150px;
    display: block;
    max-width: 300px; }
  .modal .modal-state {
    display: none; }
  .modal .modal-trigger {
    font-weight: normal;
    color: #63589C;
    text-decoration: underline; }
  .modal .modal-fade-screen {
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999; }
    @media screen and (min-width: 900px) {
      .modal .modal-fade-screen {
        padding-top: 10em; } }
    .modal .modal-fade-screen .modal-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer; }
  .modal .modal-close {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    height: 1.5em;
    width: 1.5em;
    background: #fff;
    cursor: pointer; }
    .modal .modal-close:after, .modal .modal-close:before {
      position: absolute;
      top: 3px;
      right: 3px;
      bottom: 0;
      left: 50%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      height: 1.5em;
      width: 0.15em;
      background: #ddd;
      content: '';
      display: block;
      margin: -3px 0 0 -1px; }
    .modal .modal-close:hover:after, .modal .modal-close:hover:before {
      background: #c4c4c4; }
    .modal .modal-close:before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .modal .modal-inner {
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    background: #fff;
    border-radius: 3px;
    margin-top: 0;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    padding: 1.5em;
    position: relative;
    width: 95%; }
    @media screen and (min-width: 600px) {
      .modal .modal-inner {
        max-height: 70%;
        padding: 3em;
        width: 60%; } }
    @media screen and (min-width: 900px) {
      .modal .modal-inner {
        width: 50%; } }
    .modal .modal-inner h1 {
      color: #333;
      text-align: left;
      text-transform: capitalize; }
    .modal .modal-inner p {
      color: #333;
      line-height: 1.5; }
    .modal .modal-inner .modal-intro {
      margin-bottom: 1em; }
    .modal .modal-inner .modal-content {
      color: #333; }
      @media screen and (min-width: 600px) {
        .modal .modal-inner .modal-content {
          -webkit-columns: 2 8em;
          -moz-columns: 2 8em;
          columns: 2 8em; } }
    .modal .modal-inner a.cta {
      color: #fff;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em; }
      .modal .modal-inner a.cta:last-child {
        padding: 0 2em; }
  .modal .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible; }
  .modal .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em; }

.modal-open {
  overflow: hidden; }

* {
  box-sizing: border-box; }

html {
  background: #E1EEE7;
  width: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  background: #fff;
  width: 100%;
  -webkit-backface-visibility: hidden; }

.active a,
.disabled a {
  pointer-events: none; }

.disabled a {
  background: #ddd;
  color: #444 !important; }

.container {
  overflow: hidden; }

button {
  padding: 5px 7px; }

.button, button.button, a.button {
  display: inline-block;
  text-decoration: none;
  padding: .75em 7px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease;
  color: #fff;
  font-weight: 600; }

.button:hover {
  color: #fff; }

.more-info {
  color: #1E5A8C;
  text-decoration: underline; }

.warning {
  background-color: #f05f5c; }
  .warning:hover {
    background-color: #f69f9d; }

.save,
.fwd {
  background-color: #66c266; }
  .save:hover,
  .fwd:hover {
    background-color: #46af46; }

.back {
  border: 2px solid #ccc;
  background-color: #fff;
  line-height: 1em;
  font-weight: normal !important;
  color: #333 !important; }
  .back:hover {
    background: rgba(0, 0, 0, 0.1); }

.no-bold {
  font-weight: normal; }

.bold {
  font-weight: 600; }

.save {
  padding: 0.75em 1.5em !important; }

.delete {
  color: #f05f5c;
  background: none;
  font-size: 0.85em;
  text-decoration: underline; }
  .delete:hover {
    color: #a84340; }

.submit {
  padding: 0.75em 1.5em !important;
  margin-bottom: 30px; }

.question-mark-small {
  width: 15px;
  height: 15px;
  background-image: url("/question_mark.svg");
  display: inline-block;
  vertical-align: middle; }

.question-mark {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  background-image: url("/question_mark.svg"); }

a {
  color: #000; }

/* =============
   HEADERS
   ============= */
#menu:before {
  content: "🍔 "; }

header {
  background: #4e467b url(/images/logo.png) 50% 5% no-repeat;
  background-size: 2.5em;
  color: #fff;
  padding: 1em 0 0 0;
  border-bottom: 1px solid #ccc; }
  header .nav {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between; }
    header .nav::after {
      clear: both;
      content: "";
      display: table; }
    header .nav a {
      text-decoration: none;
      color: #fff; }
    header .nav div {
      flex: 1;
      margin: .75em 0 0 1em; }
    header .nav h1 {
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      line-height: 1em;
      flex: 1;
      margin: 0;
      padding: 1.75em 0 .5em 0; }
    header .nav #signout {
      text-align: right; }
    header .nav .faq {
      color: #f05f5c;
      vertical-align: text-bottom; }
      header .nav .faq:hover {
        color: #b44745; }

/* =============
   SUBNAV
   ============= */
.subnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: #fff;
  font-size: smaller; }
  .subnav li {
    background: #E1EEE7;
    border-left: 1px solid #e9f2ed;
    border-right: 1px solid #e9f2ed;
    text-align: center;
    flex: 1 0 auto;
    position: relative; }
    .subnav li.done {
      background: #4b8566; }
      .subnav li.done a {
        color: #fff; }
        .subnav li.done a a:hover {
          color: #E1EEE7; }
    .subnav li a {
      text-decoration: none;
      color: #39644d;
      font-weight: bold;
      display: block;
      padding: 10px; }
    .subnav li.active {
      background-color: #7fb799; }
      @media screen and (min-width: 600px) {
        .subnav li.active:after {
          content: "";
          position: absolute;
          top: 100%;
          z-index: 600;
          margin: 0 auto;
          left: 45.8%;
          border-top: 0.75em solid #7fb799;
          border-bottom-color: inherit;
          border-left: .75em solid transparent;
          border-right: .75em solid transparent; } }
      .subnav li.active a {
        color: #fff; }

/* =============
   MAINS
   ============= */
main {
  padding: 20px 30px;
  clear: both;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }

.screen {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .screen:last-child {
    margin-right: 0; }

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; }
  .button-group .button {
    margin: 0 0 1em 0;
    text-align: center;
    width: 45%; }
  .button-group .full-width {
    width: 100% !important; }

.no-justify {
  display: list-item; }

.full-width {
  width: 100%;
  text-align: center; }

.reset {
  background-color: #1E5A8C;
  margin-top: 30px;
  margin-bottom: 30px; }

/* =============
   HEADINGS
   ============= */
h2, h3, h4, h5, h6 {
  color: #63589C; }

h2 {
  border-bottom: 1px solid #ddd;
  padding: 0 0 .25em 0;
  font-weight: 700; }

h3, h4, h5, h6 {
  color: #444;
  margin: .25em 0 .25em 0; }

h4 {
  padding: .5em 0 .5em 0;
  display: block;
  margin: .5em 0 .5em 0; }

/* =============
   Panels
   ============= */
.panel {
  background: rgba(221, 221, 221, 0.2);
  padding: 1em;
  border-radius: 4px;
  margin: 0 0 2em 0; }
  .panel .button {
    background-color: #66c266;
    padding: 7px 0.75em; }
  .panel .edit-button-margined {
    margin-top: 0.75em; }

.panel.info {
  margin-top: 1em; }

/* =============
   HOUSEHOLD INFO
   ============= */
.person-list {
  list-style-type: none;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0; }

.person-name-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0; }

.person {
  margin-bottom: 30px; }
  .person:last-child {
    margin-bottom: 0; }

.valid .person-name-bar {
  color: #66c266; }
  .valid .person-name-bar .person-name:before {
    content: "✓";
    border-radius: 15px;
    margin-right: 4px;
    width: 20px;
    height: 20px; }
  .valid .person-name-bar .actions a {
    color: #66c266; }

.invalid .person-name-bar,
.invalid .notes {
  color: #f05f5c; }

.incomplete .person-name-bar {
  color: #ffc549; }
  .incomplete .person-name-bar .person-name:before {
    content: '➙'; }

#review .invalid .person-name-bar {
  color: #f05f5c; }
#review .invalid .person-name-bar .person-name:before {
  margin-right: 4px;
  width: 20px;
  height: 30px;
  vertical-align: text-bottom;
  /**/ }
#review .edit-button .button {
  background-color: #66c266; }

.add .person-name-bar {
  border-bottom: none;
  background-color: #1E5A8C; }
.add .person-name-bar.button {
  padding: 7px .75em;
  color: white; }

.person-name {
  font-weight: 700; }

.add-person {
  margin-bottom: 1em; }
  .add-person h3 {
    margin-bottom: 0; }

.show {
  opacity: 1;
  display: block; }

.hide {
  opacity: 0;
  display: none; }

ul.review-list {
  margin: 0 0 1em 0; }
  ul.review-list li div {
    margin: 0;
    padding: 0; }

.radio-group div.radio-selection {
  margin: .5em 0 1em 0;
  background: rgba(0, 0, 0, 0.05);
  border-radius: .25em;
  padding: .25em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .radio-group div.radio-selection div {
    padding: .5em;
    border-radius: .25em;
    margin: .2em 1.5em 1em 1.5em;
    background: #fff; }
  .radio-group div.radio-selection:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer; }
  .radio-group div.radio-selection .modal,
  .radio-group div.radio-selection .modal-trigger,
  .radio-group div.radio-selection .modal .modal-state:checked + .modal-fade-screen {
    padding: 0;
    margin: 0; }
  .radio-group div.radio-selection .modal-inner {
    padding: 3em;
    margin: 0 auto;
    top: 5.5em !important; }
  .radio-group div.radio-selection .modal-fade-screen {
    background: rgba(0, 0, 0, 0.85); }
  .radio-group div.radio-selection .modal-close {
    margin: 0; }

#case-entry {
  padding: 0;
  margin: 0; }

#household-size .form-controls-group {
  display: flex;
  justify-content: space-around;
  text-align: left; }

[name=num-kids], [name=num-adults] {
  padding: 10px;
  font-size: 20px;
  text-align: left; }

.notes {
  font-size: smaller; }

.radio-selection {
  margin-bottom: 0 !important; }

.details-form {
  background: rgba(0, 0, 0, 0.08);
  padding: 1em;
  margin-top: .35em;
  border-radius: .25em; }
  .details-form div {
    margin-bottom: 1em; }
    .details-form div p {
      margin-bottom: 0; }
  .details-form .radio-selection label,
  .details-form .normal-label label {
    background: rgba(255, 255, 255, 0.25);
    padding: .25em;
    border-radius: .25em;
    margin-bottom: .25em; }
    .details-form .radio-selection label:hover,
    .details-form .normal-label label:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.45); }
  .details-form .button-group {
    margin: .5em 0;
    display: block; }
  .details-form div {
    margin-bottom: 1em; }
    .details-form div p {
      margin-bottom: 0; }
  .details-form .button-group {
    margin-top: 0; }

.remove {
  color: #f05f5c;
  background: none;
  margin: 0;
  text-decoration: none; }
  .remove:hover {
    color: #ec312d; }
  .remove:before {
    content: '𐄂';
    margin-right: 4px; }

.normal-label label {
  font-weight: normal; }

.ssn-form {
  margin-top: 2em; }
  .ssn-form h3 {
    margin-bottom: 0; }

.ssn {
  display: inline-block; }

input.ssn {
  width: 75px;
  margin-left: 3px; }

.agreements ul li {
  margin-bottom: 10px; }

#review h3 {
  margin-bottom: 0; }

.inner-section {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 30px;
  padding-bottom: 30px; }

.inner-section.last {
  border-top: 0;
  border-bottom: 0;
  margin-top: 0; }

.sign-form {
  padding-bottom: 15px; }
  .sign-form .panel {
    margin-bottom: 0; }

#get-started ul {
  margin-bottom: 20px; }

.styled-list {
  list-style: disc;
  margin-left: 5%; }

.styled-list-inner {
  margin-left: 5%;
  list-style: circle; }

.summary div {
  margin-top: 15px; }

/* =============
   FAQ
   ============= */
#faq dt {
  margin-top: 1em; }

/* =============
   FOOTER
   ============= */
footer {
  color: #444;
  text-align: center;
  padding: 0 0 1em 0;
  font-size: small;
  background-color: #f4f4f4;
  color: #b1b1b1; }
  footer p {
    display: block; }
  footer a {
    color: #444;
    text-decoration: underline; }
  footer .question-mark-small {
    margin-right: 7px; }

.income-control label {
  width: 46%;
  justify-content: space-between;
  display: inline-block;
  vertical-align: top; }
.income-control .no-bg {
  background: none !important; }

.income-control.panel {
  background: rgba(255, 255, 255, 0.25); }

/* =============
   Mobile
   ============= */
@media screen and (max-width: 600px) {
  .subnav {
    display: none; }

  .mobile-subnav {
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
    margin: 0 auto; }
    .mobile-subnav li, .mobile-subnav .prog-bar {
      width: 40px;
      height: 40px;
      display: inline-block; }
    .mobile-subnav .prog-bar {
      width: 20px;
      height: 4px;
      background: #ddd;
      margin-bottom: 8px; }
    .mobile-subnav .prog-round {
      width: 20px;
      height: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      background: transparent;
      border: 4px solid #ddd; }
      .mobile-subnav .prog-round.done {
        border-color: #E1EEE7; }
      .mobile-subnav .prog-round a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 0;
        margin: 0 auto; }
        .mobile-subnav .prog-round a .prog-label {
          font-size: .7em;
          display: none;
          position: absolute;
          border: 1px solid red;
          padding: .5em 0; }
      .mobile-subnav .prog-round.active {
        background-color: #E1EEE7;
        border: 4px solid #E1EEE7; }

  li.done + span.prog-bar {
    background-color: #E1EEE7; }

  .screen {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%; }
    .screen:last-child {
      margin-right: 0; }

  .hide {
    display: none; } }
@media screen and (min-width: 601px) {
  .mobile-subnav {
    display: none; } }

/*# sourceMappingURL=screen.css.map */
